# 라이브러리 추가

In [7]:
import pandas as pd
import os
import sys

# 파일 읽어오기   
* 파일 경로를 가져온다.
    * 만약 google drive를 통해 파일을 가져온다면 아래와 같이 파일 경로를 찾아 오자.
    * `!find /content/drive/MyDrive/ -name metadata.json`

In [11]:
file_path = input("file path plz :)(metadata.json) >>")
meta_data = pd.read_json(file_path, lines=True)

meta_data.head(5)

file path plz :)(metadata.json) >>/content/drive/MyDrive/kakao arena/data/metadata.json

   magazine_id        user_id  ... article_id                id
0         8982        @bookdb  ...        782       @bookdb_782
1        12081     @kohwang56  ...         81     @kohwang56_81
2            0   @hannahajink  ...          4    @hannahajink_4
3        16315  @bryceandjuli  ...         88  @bryceandjuli_88
4        29363   @mijeongpark  ...         34   @mijeongpark_34

[5 rows x 9 columns]