# 라이브러리 추가

In [5]:
import pandas as pd
import os
import sys
from collections import Counter

# 파일 읽어오기   
* 파일 경로를 가져온다.
    * 만약 google drive를 통해 파일을 가져온다면 아래와 같이 파일 경로를 찾아 오자.
    * `!find /content/drive/MyDrive/ -name magazine.json`

In [3]:
file_path = input("file path plz :)(magazine.json) >>")
magazine_data = pd.read_json(file_path, lines=True)

magazine_data.head(5)

file path plz :)(magazine.json) >>/content/drive/MyDrive/한양대학교/브런치 사용자를 위한 글 추천 대회/data/magazine.json

             magazine_tag_list     id
0  [브런치북, 육아일기, 대화법, 들려주고픈이야기]  38842
1                  [tea, food]  11540
2                       [food]  11541
3            [브런치북, 일상, 시, 사람]  11546
4           [감성에세이, 노래, 음악에세이]  11544

* magazine.json: 매거진 정보

  * 총 27,967개의 브런치 매거진 정보입니다.
  * 필드 설명
    * id: 매거진 식별자
    * magazine_tag_list: 작가가 부여한 매거진의 태그 정보

# magazine_tag_list

In [6]:
magazine_tag_list = pd.DataFrame(Counter([j for i in magazine_data["magazine_tag_list"].tolist() for j in i]).most_common())

magazine_tag_list.head(5)

      0     1
0  브런치북  2934
1   에세이  2875
2    일상  2079
3    여행  1884
4    영화  1263

In [7]:
magazine_tag_list.describe()

                  1
count  18946.000000
mean       4.216405
std       42.481912
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max     2934.000000